<!DOCTYPE html>
<html>
    <head>
        <title>Sentiment Analysis</title>
    </head>

    <body>
        <h1>Sentiment Analysis</h1>

        <form 
            _='on submit
            halt the event
            set text to (first <input/> in me).value
            put "Predicting..." into the next <p/>
            
            fetch  `/predict?text=${text}` then
            put `The predicted sentiment for "${text}" is: ${result}` into the next <p/>'>
            <label for="text">Enter text:</label>
            <input name="text">
            <button>Submit</button>
        </form>

        <p>Click Submit to predict sentiment</p>

        <h2>Sentiment Scraping</h2>

        <form 
            _="on submit
            halt the event
            set keyword to (first <input/> in me).value
            put 'Scraping...' into the next <p/>
            set (next <img/>)'s @src to ''

            fetch `/scrape?keyword=${keyword}` then
            put '' into the next <p/>
            put the result into #scraped-data
            set (next <img/>)'s @src to `/plot?keyword=${keyword}`">
            <label for="keyword">Enter keyword to scrape:</label>
            <input name="keyword">
            <button>Submit</button>
        </form>

        <p>Click Submit to scrape and predict sentiment on tweets containing the keyword (could be a person's name or a topic)</p>
        <br>
        <img>
        <div id="scraped-data"></div>
        
    </body>

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>

</html>