<!DOCTYPE html>
<html>
    <head>
        <title>Sentiment Analysis</title>
    </head>

    <body>
        <h1>Sentiment Analysis</h1>

        <form hx-get="/predict" hx-target="#sentiment">
            <label for="text">Enter text:</label>
            <input name="text">
            <button>Submit</button>
        </form>

        <p>The predicted sentiment is: <span id="sentiment"></span></p>

        <h2>Sentiment Scraping</h2>

        <form 
            _="on submit
            halt the event
            set keyword to (first <input/> in me).value
            put 'Scraping...' into the next <p/>
            set (next <img/>)'s @src to ''

            fetch `/scrape?keyword=${keyword}` then
            put '' into the next <p/>
            put the result into #scraped-data
            set (next <img/>)'s @src to `/plot?keyword=${keyword}`">
            <label for="keyword">Enter keyword to scrape:</label>
            <input name="keyword">
            <button>Submit</button>
        </form>
        <br>

        <p></p>
        <img>
        <div id="scraped-data"></div>
        
    </body>

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>

</html>